<head>
  <title>Error!</title>
   <link rel="stylesheet" href="/css/main.css">
</head>

<body> 

<h1>No text to analyze 👀</h1>
<form method="GET" action="/home">
    <input type="submit" value="<%= I18n.t('back') %>" class="button">
</form>

</body>