<head>

<%= erb :header %>

</head>

<body> 

<h1><%= I18n.t('no_text') %></h1>
 <img src='/img/empty.svg' width="50" height="50" style="display:block;"/> 
<form method="GET" action="/home">
    <button type="submit" value="<%= I18n.t('back') %>" class="button"><i class="fas fa-arrow-alt-circle-left"></i> <%= I18n.t('back') %>
</button>

</form>
<br>
<!--
<img src="/img/tanuki.svg" alt="No text..." width="10%" height="10%" style="display:block;">
-->
</body>